
login form {
    height: 300px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -150px;
}

login form img {
    float: left;
    height: 100%;
}

login form input {
    border-radius: 3px;
    margin: 3px 0;
}

login form button {
    margin: 0 10px;
}

login .logo-text * {
    margin: 0;
    font-style: italic;
    font-family: courier, sans-serif;
}

login .logo-text {
    margin: 30px 0;
}

header img {
    height: 120px;
}

menu {
    border: 1px solid gray;
    border-radius: 5px;
    height: 65px;
    padding: 0 5px;
    text-align: center;
    margin-top: 45px;
    margin-right: 30px;
    float: right;
}

menu:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

menu ul {
    display: inline-block;
    list-style: none;
    line-height: 36px;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}

menu li {
    float: left;
    padding: 5px 5px 5px 5px;
    text-align: center;
}

menu li * {
    display: block;
    height: 40px;
    width: 75px;
    line-height: 36px;
    vertical-align: middle;
    padding: 0;

    border-radius: 5px;
}

user {
    height: 65px;
    border: solid gray 1px;
    border-radius: 5px;
    float: right;
    margin-top: 45px;
    margin-right: 30px;
    padding: 0 5px;
}

user .online:before {
    content: "\2022";
    font-size: 200%;
    vertical-align: middle;
    color: green;
}

user .offline:before {
    content: "\2022";
    font-size: 200%;
    vertical-align: middle;
    color: red;
}

hr {
    clear: both;
}

server-form form {
    width: 700px;
    border: 1px solid;
    border-radius: 5px;
}

server-form ul {
    width: 80%;
    list-style-type: none;
    list-style-position: outside;
    margin: 0;
    padding: 0;
}

server-form li {
    padding: 12px;
    border-bottom: 1px solid #eee;
    position: relative;
}

server-form label {
    width: 150px;
    margin-top: 3px;
    display: inline-block;
    float: left;
    padding: 3px;
}

server-form input {
    height: 18px;
    width: 180px;
    padding: 5px 8px;
}

server-form select {
    height: 30px;
    width: 200px;
    padding: 5px 8px;
}

server-form textarea {
    width: 180px;
    padding: 5px 8px;
}

server-form button {
    margin-left: 10px;
}
server-list table{
    display: block;
}

server-small {
    float: left;
    width: 130px;
    height: 55px;
    border: solid black 1px;
    margin: 10px;
}

server-small.haveSSH {
    background-color: #000000;
    color: #ffffff;
}

server-small.selected {
    background-color: #dddddd;
}

server-small.selected.haveSSH {
    background-color: #275280;
}

server-small h3 {
    margin: 3px 0 5px 5px;
}

server-small .ssh {
    float: right;
}

server-small span {
    margin: 0 3px 0 5px
}

app div {
    width: 100%;
    display: table;
}

app section {
    display: table-cell;
    vertical-align: top;
    padding-left: 20px;
}

app aside {
    display: table-cell;
    width: 350px;
    vertical-align: top;
}

messages {
    display: block;
    overflow: scroll;
    overflow-x: hidden;
    height: 300px;
    border: solid black 1px;
    border-radius: 5px;
}

messages header {
    margin: 0;
    text-align: center;
    width: 100%;
}

messages header h3 {
    margin: 4px;
}

messages hr {
    margin-bottom: 0;
}

@-webkit-keyframes glowing {
    0% {
        background-color: #004A7F;
        -webkit-box-shadow: 0 0 3px #004A7F;
    }
    50% {
        background-color: #0094FF;
        -webkit-box-shadow: 0 0 10px #0094FF;
    }
    100% {
        background-color: #004A7F;
        -webkit-box-shadow: 0 0 3px #004A7F;
    }
}

@keyframes glowing {
    0% {
        background-color: #004A7F;
        box-shadow: 0 0 3px #004A7F;
    }
    50% {
        background-color: #0094FF;
        box-shadow: 0 0 10px #0094FF;
    }
    100% {
        background-color: #004A7F;
        box-shadow: 0 0 3px #004A7F;
    }
}

.flash {
    -webkit-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;
}

message {
    display: inline-block;
    padding: 3px;
    width: 100%;
    border-bottom: solid black 1px;
}

message button {
    float: right;
    margin-right: 7px;
    border-radius: 50%;
}